@media (min-width: 764px) {
  body {
    background: url('/Assets/image/thunder-bg.jpg') center / cover no-repeat
      fixed;
  }

  .app__main {
    align-items: center;
  }

  .app {
    padding-top: 2rem;
  }

  .search-field__input {
    font-size: 18px;
  }

  .app__main {
    align-items: center;
  }

  aside {
    font-size: 18px;
  }

  .container {
    margin-top: 5rem;
  }

  .weather__icon img {
    width: 55px;
    height: 55px;
  }
}

@media (min-width: 1300px) {
  body {
    background: url('/Assets/image/bg-weather.png') center / cover no-repeat
      fixed;
  }

  .app {
    padding: 2.5rem;
  }

  .container {
    margin-top: auto;
  }

  .sidebar-container {
    width: 400px;
    padding-top: 5rem;
  }

  .search-field {
    width: 390px;
    height: 50px;
    padding-bottom: 0.5rem;
  }

  aside {
    position: fixed;
    right: 0;
    top: 0;
    width: 560px;
    height: 100vh;
    overflow: hidden;
    font-size: clamp(0.5rem, 1.5vw, 0.75rem);
  }

  .sidebar-container {
    flex: 1;
    min-height: 0;
  }

  .weather-stats__summary {
    text-align: left;
  }

  .forecast__list {
    padding-right: 1rem;
  }

  .forecast__list::-webkit-scrollbar {
    background-color: rgb(135, 136, 137);
  }

  .forecast__list::-webkit-scrollbar-thumb {
    background: rgba(237, 234, 234, 0.848);
    border-radius: 1px;
  }
}
